#number-memory-test-container .banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  height: 680px;
  background-color: #7b2cbf;
  padding-top: 80px;
  color: white;
}

#number-memory-test-container .banner img {
  width: 250px;
  filter: brightness(0) invert(1);
}

#number-memory-test-container .title {
  margin: 10px 0;
}

#number-memory-test-container .description {
  max-width: 700px;
  text-align: center;
  margin: 10px;
}

#number-memory-test-container .instruction {
  font-size: 4rem;
  text-align: center;
}

#number-memory-test-container .progress-bar {
  height: 3px;
  background-color: #fff;
}

#number-memory-test-container .number-sequence {
  display: inline-flex;
  gap: 10px;
}

#number-memory-test-container .sequence-input {
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #dec9e9;
}

#number-memory-test-container .btn {
  margin-top: 20px;
}

#number-memory-test-container .bg-green {
  background-color: green;
}

#number-memory-test-container .bg-red {
  background-color: #bf2c2c;
}
