.reaction-time-test-container {
  margin-top: 80px;
  margin-bottom: 129px;
  width: 100%;
  height: 600px;
  background-color: #7b2cbf;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.start-test-image,
.wait-test-image,
.bad-result-test-image,
.good-result-test-image {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  filter: brightness(0) invert(1);
}

.start-test-image {
  width: 250px;
}

.wait-test-image,
.bad-result-test-image,
.good-result-test-image {
  width: 100px;
}

.start-test-title,
.wait-test-title {
  margin: 10px;
}

.wait-test-title {
  font-size: 5rem;
}

.start-test-description {
  max-width: 700px;
  text-align: center;
  margin: 10px;
}

.start-begin-instruction {
  font-size: 4rem;
}

.red {
  background-color: #bf2c2c;
}
