#title-screen {
  margin-top: 80px;
  background-color: #7b2cbf;
  width: 100%;
  height: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

#title-screen p,
#title-screen h1 {
  margin: 10px;
}

#logo-text-image {
  height: 300px;
  width: 300px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  filter: brightness(0) invert(1);
}

#get-started-btn {
  margin-top: 20px;
}
