* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  height: 80px;
  background-color: #240046;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.753);
  z-index: 100;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.nav-item {
  margin: 0px 10px;
  line-height: 60px;
  padding: 10px;
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: hsl(271, 100%, 17%);
}

.nav-left,
.nav-right {
  height: 80px;
  display: flex;
}

#logo-home {
  margin: 10px;
  height: 60px;
  width: 60px;
  filter: brightness(0) invert(1) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  transition: 0.3s;
}

#logo-home:hover {
  transform: scale(1.05);
  filter: brightness(0) invert(0.8);
}

.underline {
  border: 1px solid white;
  margin-top: -10px;
  transform: scaleX(0);
  transition: 0.3s;
}

.nav-item:hover .underline {
  transform: scaleX(1);
}
