body {
  margin: 0;
  background-color: #efe9f3;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  background-color: #ff9100;
  transition: 0.1s ease-out;
}

.btn:hover {
  background-color: #dec9e9;
  transition: 0.1s ease-out;
}
